.container {
    width: 60%;
    margin: 30px auto;
  }

  #chat-area {
    height: 60vh;
    background: #8DB4E5;
    overflow: scroll
  }

  /* メッセージの入力部分は高さを10vhにして、テキストエリアとボタンをflexで横並びにする*/
.message-area {
    height: 10vh;
    display: flex;
   }
   
   /* テキストエリアは80%で表示 */
   .message-area-text {
    width: 80%;
   }
   /* テキストエリアは20%で表示 */
   .icon {
    width: 20%;
   }


   /* テキストエリアは20%で表示 */
   .message-area-button {
    width: 20%;
   }

   /* テキストエリアはリサイズをできなくして、横幅いっぱいに表示 */
.message-area-text textarea {
    width: 100%;
    height: 100%;
    resize: none; /* これでユーザーのリサイズをできなくする */
    border: 1px solid #ddd; /* 枠線をつけて領域を分かりやすく */
    box-sizing: border-box; /* borderを付けてるので、border込の大きさにする */
   }

   .message-area-button button {
    width: 100%;
    height: 100%;
    background: #61E739;
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    border: 0;
   }

   #output {
    position: relative;
    display:inline-block;
    padding:10px ;
    text-align:left;
    background-color:#ffffff;
    margin: 5px 5px 5px 10px;
    border-radius: 5px ;
}
#output, #outputx:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
}
#output:after {
    top: 5px;
    left: -20px; 
    border: 10px solid transparent;
    border-right: 15px solid #ffffff; /*13px*/
}
#output:before {
    top: 5px;
    left: -20px;
    border: 10px solid transparent;
    border-right: 10px solid #ffffff; /*10px*/
}

li{
  list-style: none;
}
ul{
  display: flex;
}

.imgs {
  opacity:0.5;
}